SetEnv SITE ored
SetEnvIf Host local$ ENVIRONMENT=local
SetEnvIf Host net$ ENVIRONMENT=production


<IfModule mod_rewrite.c>
	Options +FollowSymlinks
    RewriteEngine On
    RewriteCond %{REQUEST_URI} ^system.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]
    RewriteCond %{REQUEST_URI} ^application.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]

#    SetEnvIf Host oredfolio SITE=ored
 #   SetEnvIf Host ored SITE=ored

# oc: try to set production?
#    SetEnvIf Host localhost ENVIRONMENT=production
#    SetEnvIf Host localhost SITE=ored


  SetEnvIf Host ^about SECTION=about
  SetEnvIf Host ^contact SECTION=contact
  SetEnvIf Host ^music SECTION=music
  SetEnvIf Host ^folio SECTION=folio

</IfModule>

<IfModule !mod_rewrite.c>
     ErrorDocument 404 /index.php
</IfModule>

AddType video/ogg   .ogv
AddType video/mp4   .mp4
AddType video/webm  .webm
